.nav-action-container{
    margin: 20px auto;
    width: 90%;

}

.main-nav{
    padding: 0px 5%;
}
.calorie-button{
    margin-right: 9px;

}

.calorie-grid{
    display:grid;
    margin: 20px auto;
    width: 90%;
    height: 80vh;
    max-height: 80vh;
    overflow: auto;
}